#quill-editor p {
  font-family: "Helvetica Neue";
}

#quill-editor .ql-editor {
  padding: 0;
}

#quill-editor .ql-editor.ql-blank {
  font-size: 16px;
}

#quill-editor .ql-editor.ql-blank::before {
  left: unset;
  right: unset;
  color: #78716c; /* stone 500 */
  font-style: unset;
}
